<h1>Edit Question</h1>

<% if @question.errors.any? %>
<ul>
  <% @question.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= render "form" %>
<%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure?"} %>
<%# form_for @question, :html => {method: :delete} do |f| %>
  <%# f.submit "Delete Question" %>
<%# end %>